<button type="button" class="btn btn-info btn-block" (click)="nextStep()">+</button>

<table class="table table-hover" style="width:100%">
    <tr>
      <th class="text-center">N [disabled]="!(isBooked)"</th>
      <th class="text-center">Bocata</th> 
      <th class="text-center">Size</th>
    </tr>
    <tr *ngFor="let item of dataPedido">

      <td class="text-center">{{item.n}}</td>
      <td class="text-center">{{item.item}}</td> 
      <td class="text-center">{{item.size | size}}</td>
    </tr>
  </table>