<div class="row col-lg-12 justify-content-around ">
 <!-- <div class=" col-lg-3 jumbotron">
    <div class="  text-center col-lg-4 component col-md-12 text-center">
      <h4> User</h4>
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Email address</label>
      <input type="email" [(ngModel)]="userLogin.email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Email address</label>
      <input type="email" [(ngModel)]="userLogin.email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <button type="button" (click)="login(userLogin)" class="btn btn-block btn-info">Sign in</button>
    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Email address</label>
      <input type="email" [(ngModel)]="userLogin.email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <button type="button" (click)="login(userLogin)" class="btn btn-block btn-info">Sign in</button>

  </div>
  <div class=" col-lg-3 jumbotron">
    <div class="  text-center col-lg-4 component col-md-12 text-center">
      <h4> User</h4>
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Email address</label>
      <input type="email" [(ngModel)]="userLogin.email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Email address</label>
      <input type="email" [(ngModel)]="userLogin.email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <button type="button" (click)="login(userLogin)" class="btn btn-block btn-info">Sign in</button>
    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Email address</label>
      <input type="email" [(ngModel)]="userLogin.email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <button type="button" (click)="login(userLogin)" class="btn btn-block btn-info">Sign in</button>

  </div>
  <div class=" col-lg-3 jumbotron">
    <div class="  text-center col-lg-4 component col-md-12 text-center">
      <h4> User</h4>
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Email address</label>
      <input type="email" [(ngModel)]="userLogin.email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Email address</label>
      <input type="email" [(ngModel)]="userLogin.email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <button type="button" (click)="login(userLogin)" class="btn btn-block btn-info">Sign in</button>
    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Email address</label>
      <input type="email" [(ngModel)]="userLogin.email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <button type="button" (click)="login(userLogin)" class="btn btn-block btn-info">Sign in</button>

  </div>
-->
  <app-admin-item [info]="'user'"></app-admin-item>
  <app-admin-item [info]="'pedido'"></app-admin-item>
  <app-admin-item [info]="'bocata'"></app-admin-item>
</div>
